body {
	padding:0;
	background-color:#091301;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
a img {
	border:0;
}
h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd, form {
	margin:0;
	padding:0;
	background-repeat:no-repeat;
	list-style-type:none;
}
a {
	text-decoration:underline;
	outline:0;
}
a:hover {
	text-decoration:none;
}
.clear {
	clear:both;
}
.clearer {
	clear:both;
	font-size:0;
	line-height:0;
	height:0;
	width:0;
}
.btnOpenClose {
	cursor:pointer;
	vertical-align:1px;
	margin:0 1px 0 5px;
}
.ratingSmily {
	vertical-align:-1px;
}
.alignR {
	text-align:right;
}
.alignL {
	text-align:left;
}
.alignC {
	text-align:center;
}
table .valignTop {
	vertical-align:top;
}
table .valignMiddle {
	vertical-align:middle;
}
table .valignBottom {
	vertical-align:bottom;
}
.no-overflow {
	overflow:hidden;
}
.required {
	font-size:12px;
	color:#f52;
	font-family:Trebuchet MS, arial, helvetica, sans;
}
.inline {
	display:inline;
	font-weight:normal;
	font-size:11px !important;
}
.nowrap {
	white-space:nowrap;
}
.cpgm_title {
	padding:0 !important;
	font-size:12px;
}
.cpgm_content {
	width:220px;
	font-size:10px;
	line-height:13px !important;
	overflow:hidden;
	margin-bottom:5px;
}
.cpgm_link {
	text-align:right;
}
.cpgm_link a {
	font-size:10px;
}
.input, .textarea {
	font:normal 11px/14px Arial, Helvetica, sans-serif;
	color:#555;
}
.button, .submit {
	font:normal 11px/14px Arial, Helvetica, sans-serif;
	color:#000;
	outline:0;
}
a.buttonLink {
	display:block;
	overflow:hidden;
	text-indent:-1000px;
}
a.rateLink {
	background:url(../img/rate-it.gif) no-repeat;
	width:55px;
	height:17px;
}
a.rateLink:hover {
	background:url(../img/rate-it.gif) no-repeat 0 -17px !important;
}
a.mapLink {
	background:url(../img/map-it.gif) no-repeat;
	width:57px;
	height:17px;
}
a.mapLink:hover {
	background:url(../img/map-it.gif) no-repeat 0 -17px !important;
}
a.emailLink {
	background:url(../img/email.gif) no-repeat;
	width:52px;
	height:17px;
}
a.emailLink:hover {
	background:url(../img/email.gif) no-repeat 0 -17px !important;
}
a.profileLink {
	background:url(../img/profile.gif) no-repeat;
	width:53px;
	height:17px;
}
a.profileLink:hover {
	background:url(../img/profile.gif) no-repeat 0 -17px !important;
}
a.enlargeLink {
	background:url(../img/enlarge.gif) no-repeat;
	width:87px;
	height:17px;
}
a.enlargeLink:hover {
	background:url(../img/enlarge.gif) no-repeat 0 -17px !important;
}
.mq_error, .mq_warning, .mq_notice, .mq_none {
	border:1px solid #555;
	color:#555;
	padding:2px 4px;
	font-weight:bold;
	font-size:10px;
	margin:5px auto;
}
.mq_error {
	border-color:#FF4F56;
	color:#FF4F56;
}
.mq_warning {
	border-color:#FE9C29;
	color:#FE9C29;
}
.mq_notice {
	border-color:#49BF23;
	color:#49BF23;
}
.mq_none {
	border-color:#3BBF4D;
	color:#3BBF4D;
}
.flash_error {
	color:#fff;
	padding:8px 10px 8px 40px;
	font-weight:bold;
	background:#F96A45 url(../img/error-msg.gif) no-repeat 8px 1px;
	margin-bottom:15px;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
}
.flash_success {
	color:#fff;
	padding:8px 10px 8px 40px;
	font-weight:bold;
	background:#5AB74B url(../img/success-msg.gif) no-repeat 8px 1px;
	margin-bottom:15px;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
}
.flash_error ul {
	padding-left:15px;
	line-height:13px;
}
.flash_error li {
	font-size:10px;
	font-weight:normal;
	list-style-type:disc !important;
}
.xrater {
	font-size:14px;
	line-height:14px;
	background:url(../img/smilies-small.gif) no-repeat 0 0;
}
.xrater img {
	vertical-align:-4px;
}
.xrater.x00 {
	background-position:0 0;
}
.xrater.x05 {
	background-position:0 -14px;
}
.xrater.x10 {
	background-position:0 -28px;
}
.xrater.x15 {
	background-position:0 -42px;
}
.xrater.x20 {
	background-position:0 -56px;
}
.xrater.x25 {
	background-position:0 -70px;
}
.xrater.x30 {
	background-position:0 -84px;
}
.xrater.x35 {
	background-position:0 -98px;
}
.xrater.x40 {
	background-position:0 -112px;
}
.xrater.x45 {
	background-position:0 -126px;
}
.xrater.x50 {
	background-position:0 -140px;
}
.myTooltips {
	cursor:help;
}
.tool-tip {
	width:240px;
	background:transparent;
	border:2px solid #ccc;
	border-color:#ccc #999 #999 #ccc;
}
.tool-tip .tool-title {
	padding:2px 5px;
	background:#CDDBA6;
	color:#222;
	font-weight:bold;
	font-size:11px;
}
.tool-tip .tool-text {
	padding:2px 5px;
	background:#CDDBA6;
	color:#333;
}
.paginator {
	overflow:hidden;
	text-align:center;
	padding:5px 0;
	margin:25px 0 10px;
	white-space:nowrap;
}
.paginator a {
	font-size:10px;
	border:1px solid #357595;
	padding:2px 3px;
	margin:0 1px 0 0;
	color:#357595 !important;
	text-decoration:none !important;
}
.paginator a:hover {
	background:#357595 !important;
	color:#fff !important;
}
.paginator .current {
	font-size:10px;
	background:#357595;
	border:1px solid #357595;
	padding:2px 3px;
	margin:0 1px;
	color:#fff;
}
.searchWrapper {
	padding:10px 0;
}
.searchWrapper form {
	margin-bottom:15px;
}
.searchWrapper form .submit {
	color:#333;
	font-weight:bold;
}
.searchWrapper .info {
}
.searchWrapper ol {
	clear:left;
}
.searchWrapper ol li {
	overflow:hidden;
	clear:left;
	margin:15px 0 0;
	padding-bottom:7px;
	background:url(../img/search.separator.gif) repeat-x left bottom;
}
.searchWrapper ol li .imgContainer {
	float:left;
	height:80px;
	overflow:hidden;
	margin-right:10px;
}
.searchWrapper ol li .imgContainer img {
	border:1px solid #ccc;
}
.searchWrapper ol li h2 {
	font-size:11px;
	color:#333;
	margin-bottom:0;
	padding-right:40px;
	display:inline;
}
.searchWrapper h2.label-event {
	background:url(../img/search.labels.gif) no-repeat right 2px;
}
.searchWrapper h2.label-photo {
	background:url(../img/search.labels.gif) no-repeat right -12px;
}
.searchWrapper h2.label-page {
	background:url(../img/search.labels.gif) no-repeat right -26px;
}
.searchWrapper h2.label-news {
	background:url(../img/search.labels.gif) no-repeat right -40px;
}
.searchWrapper h2.label-member {
	background:url(../img/search.labels.gif) no-repeat right -54px;
}
.searchWrapper h2.label-tag {
	background:url(../img/search.labels.gif) no-repeat right -68px;
}
.searchWrapper ol li p {
	padding:3px 0 5px !important;
	line-height:14px;
}
.searchWrapper .notFound {
	font-size:13px;
	line-height:17px;
}
.searchWrapper .tabs {
	margin:25px 0 15px;
	height:22px;
	background:transparent url(../img/search.mid.gif) no-repeat left bottom;
}
.searchWrapper .tabs li {
	float:left;
	margin:0 3px 0 0 !important;
}
.searchWrapper .tabs li a, .searchWrapper .tabs li a:hover, .searchWrapper .tabs li span {
	background:transparent url(../img/search.tab.gif) repeat-x left top !important;
	text-decoration:none;
	display:block;
	padding:3px 6px;
	color:#333 !important;
	border:1px solid #BCB8A3;
	border-width:0 1px;
	line-height:15px;
}
.searchWrapper .tabs li a:hover, .searchWrapper .tabs li span {
	background:transparent url(../img/search.tab-hov.gif) repeat-x left top !important;
	padding:3px 6px 4px;
}
.popular {
	line-height:18px;
	background:#fff;
	border:1px solid #ddd;
	padding:10px;
	margin:30px 0;
}
.searchWrapper .popular h2 {
	font-size:16px;
	color:#000;
	margin-bottom:7px;
	font-weight:normal;
}
.searchWrapper .popular a {
	margin-right:7px;
}
#mContainer #mCenter .socializeCont {
	margin:10px 0 25px;
	font-size:10px;
	overflow:hidden;
	zoom:1;
}
#mContainer #mCenter .socializeCont .addto {
	float:left;
	width:80px;
	line-height:12px;
	font-size:11px;
	font-weight:bold;
	color:#466EAE;
	padding-top:8px;
}
#mContainer #mCenter .socializeCont ul {
	float:left;
	width:312px;
	margin:0;
	padding:0;
	background:url(../img/social-bookmarks.jpg) no-repeat 0 9px;
}
#mContainer #mCenter .main .socializeCont ul li {
	float:left;
	margin:0;
	width:32px;
	overflow:hidden;
	padding-right:8px;
}
#mContainer #mCenter .socializeCont ul li a {
	background:none;
	display:block;
	height:32px;
	width:32px;
	text-indent:-1000px;
}
#mContainer #mCenter .socializeCont ul li.dl {
	padding-right:0;
}
#mContainer #mCenter .socializeCont ul li.fb a:hover {
	background:url(../img/social-bookmarks.jpg) no-repeat 0 0;
}
#mContainer #mCenter .socializeCont ul li.tw a:hover {
	background:url(../img/social-bookmarks.jpg) no-repeat -40px 0;
}
#mContainer #mCenter .socializeCont ul li.gg a:hover {
	background:url(../img/social-bookmarks.jpg) no-repeat -80px 0;
}
#mContainer #mCenter .socializeCont ul li.yh a:hover {
	background:url(../img/social-bookmarks.jpg) no-repeat -120px 0;
}
#mContainer #mCenter .socializeCont ul li.bm a:hover {
	background:url(../img/social-bookmarks.jpg) no-repeat -160px 0;
}
#mContainer #mCenter .socializeCont ul li.dg a:hover {
	background:url(../img/social-bookmarks.jpg) no-repeat -200px 0;
}
#mContainer #mCenter .socializeCont ul li.su a:hover {
	background:url(../img/social-bookmarks.jpg) no-repeat -240px 0;
}
#mContainer #mCenter .socializeCont ul li.dl a:hover {
	background:url(../img/social-bookmarks.jpg) no-repeat -280px 0;
}
.loginComponent td {
	padding:6px 6px 4px;
}
.loginComponent .input {
	font:11px/14px Arial;
}
.loginComponent .submit {
	font-weight:bold;
	color:#000;
	line-height:17px;
	padding:0 2px;
}
.loginComponent label {
	display:block;
	font-weight:bold;
}
.loginComponent a.register {
	color:#FA5901 !important;
	margin:4px 0;
	font-weight:bold;
	text-decoration:none;
	padding-left:6px;
	font-size:10px;
	line-height:25px;
}
.loginComponent a.register:hover {
	text-decoration:underline !important;
	background:none !important;
}
#cHeader, #cMenu, #cMain, #cFooter {
	margin:0 auto;
	overflow:hidden;
}
#cHeader {
	width:800px;
	height:78px;
	background:#fff url(../img/top-corner-left.gif) no-repeat;
}
#cHeader #logo {
	display:block;
	float:left;
	width:252px;
	height:78px;
	padding-left:4px;
	background:url(../img/logo-centralpark.gif) no-repeat 4px 0;
	text-indent:-10000px;
}
#cHeader .right {
	float:left;
	width:544px;
}
#cHeader .right .top {
	float:right;
	padding:15px 5px 0 0;
	height:21px;
	background:#fff url(../img/top-corner-right.gif) no-repeat top right;
	overflow:hidden;
}
#cHeader .right .top ul.links {
	float:left;
	overflow:hidden;
	height:21px;
	padding:0 0 8px 9px;
	margin:0;
}
#cHeader .right .top ul.links li {
	float:left;
	padding:0 6px;
	margin-top:3px;
}
#cHeader .right .top ul.links a {
	color:#2e5634;
	text-transform:uppercase;
	font-weight:bold;
	text-decoration:none;
}
#cHeader .right .top ul.links a:hover {
	text-decoration:underline;
}
#cHeader .right .top ul.links .signup {
	margin-top:0;
}
#cHeader .right .top ul.links .signup a {
	background:url(../img/header.top.gif) no-repeat;
	height:19px;
	width:58px;
	display:block;
	text-indent:-10000px;
}
#cHeader .right .top ul.links .signup a:hover {
	background-position:0 -21px;
}
#cHeader .right .top ul.links .logout, #cHeader .right .top ul.links .cart {
	border-left:1px solid #b2c1b4;
}
#cHeader .right .top ul.links .panelButton a {
	background:url(../img/header.top.gif) no-repeat 40px -46px;
	padding-right:30px;
	display:inline-block;
}
#cHeader .right .top ul.links .account a {
	background-position:57px -46px;
}
#cHeader .right .top ul.links .cart a {
	background:url(../img/header.top.gif) no-repeat 0 -66px;
	padding-left:19px;
}
#cHeader .right .top form {
	float:left;
	overflow:hidden;
	padding:0 18px 0 7px;
}
#cHeader .right .top input {
	display:block;
	float:left;
	height:19px;
}
#cHeader .right .top #headerSearch {
	font-size:11px;
	color:#666;
	border:1px solid #ccc;
	height:13px;
	line-height:13px;
	padding:2px 5px;
	width:120px;
	margin-right:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
#cHeader .right .top .search-button {
	border:0;
	background:url(../img/header.top.gif) no-repeat 0 -83px;
	width:27px;
	text-indent:-10000px;
	padding:0;
	margin:0;
}
#cHeader .right .top ul.links li.open {
	padding:0 6px 0 0;
	margin:0;
}
#cHeader .right .top ul.links li.account.open a {
	background:url(../img/header.top.gif) no-repeat 0 -127px;
}
#cHeader .right .top ul.links li.open a {
	background:url(../img/header.top.gif) no-repeat 0 -106px;
	padding:3px 20px 0 6px;
}
#cHeader .right .top ul.links li.accountOpenIe6 {
	padding:0 6px 0 0;
	margin:0;
}
#cHeader .right .top ul.links li.accountOpenIe6 a {
	background:url(../img/header.top.gif) no-repeat 0 -127px;
	padding:3px 20px 0 6px;
}
#cHeader .right ul.subnav {
	height:25px;
	margin:21px 5px 0 0;
	list-style-type:none;
	float:right;
	width:440px;
}
#cHeader .right ul.subnav li {
	float:left;
	padding:0 6px;
	margin:4px 0 1px;
	border-right:1px solid #b2c1b4;
	color:#385827;
}
#cHeader .right ul.subnav li a {
	text-decoration:none;
	font-size:11px;
	font-weight:bold;
	color:#2C6122;
}
#cHeader .right ul.subnav li a:hover {
	text-decoration:underline;
}
#cHeader .right ul.subnav li.last {
	border:0;
}
#cHeader .right ul.subnav li.rss {
	border:0;
	width:34px;
	height:12px;
	margin:5px 0 0;
	padding:0 0 0 10px;
}
#cHeader .right ul.subnav li.rss a {
	text-indent:-10000px;
	display:block;
	width:34px;
	height:12px;
	background:url(../img/rss-badge.png) no-repeat;
}
#mDropdownPanel {
	height:0;
	width:210px;
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
}
#mDropdownPanel .pane {
	color:#333;
	background:#f6f4e9;
	-moz-border-radius:9px 0 9px 9px;
	-webkit-border-radius:9px;
	-webkit-border-top-right-radius:0;
	padding:10px;
	overflow:hidden;
}
#mDropdownPanel .pane label {
	display:block;
	margin:7px 0 0;
	zoom:1;
}
#mDropdownPanel .pane label.r {
	display:inline-block;
	margin-top:3px;
}
#mDropdownPanel .pane .input {
	width:180px;
}
#mDropdownPanel .pane .checkbox {
	vertical-align:-3px;
}
#mDropdownPanel .pane .submit {
	float:right;
	border:0;
	padding:0;
	margin:0;
	font-size:1px;
	background:url(../img/header.top.gif) no-repeat 0 -148px;
	width:57px;
	height:19px;
	cursor:pointer;
}
#mDropdownPanel .pane .l {
	margin:5px 0 10px;
}
#mDropdownPanel .pane a {
	color:#69B80E !important;
}
#mDropdownPanel .account {
	margin-left:50px;
}
#mDropdownPanel .account a {
	color:#000 !important;
	font-weight:bold;
	text-decoration:none;
	line-height:17px;
}
#mDropdownPanel .account small a {
	color:#666 !important;
	text-decoration:none;
	font-weight:normal;
}
#cMenu {
	width:800px;
	height:34px;
	overflow:hidden;
}
#cMenu ul {
	list-style-type:none;
}
#cMenu ul li {
	height:34px;
	margin:0;
	padding:0;
	float:left;
}
#cMenu ul li a {
	display:block;
	text-indent:-10000px;
	background-image:url(../img/header.png);
	background-repeat:no-repeat;
	height:34px;
	padding:0 1px 0 0;
}
#cMenu ul li.home a {
	background-position:0 0;
	width:46px;
}
#cMenu ul li.home a:hover {
	background-position:0 -34px;
}
#cMenu ul li.info a {
	background-position:-48px 0;
	width:95px;
}
#cMenu ul li.info a:hover {
	background-position:-48px -34px;
}
#cMenu ul li.zoo a {
	background-position:-143px 0;
	width:36px;
}
#cMenu ul li.zoo a:hover {
	background-position:-143px -34px;
}
#cMenu ul li.photos a {
	background-position:-181px 0;
	width:58px;
}
#cMenu ul li.photos a:hover {
	background-position:-181px -34px;
}
#cMenu ul li.events a {
	background-position:-240px 0;
	width:56px;
}
#cMenu ul li.events a:hover {
	background-position:-240px -34px;
}
#cMenu ul li.attractions a {
	background-position:-296px 0;
	width:90px;
}
#cMenu ul li.attractions a:hover {
	background-position:-296px -34px;
}
#cMenu ul li.sports a {
	background-position:-387px 0;
	width:57px;
}
#cMenu ul li.sports a:hover {
	background-position:-387px -34px;
}
#cMenu ul li.activities a {
	background-position:-444px 0;
	width:73px;
}
#cMenu ul li.activities a:hover {
	background-position:-444px -34px;
}
#cMenu ul li.maps a {
	background-position:-518px 0;
	width:43px;
}
#cMenu ul li.maps a:hover {
	background-position:-518px -34px;
}
#cMenu ul li.history a {
	background-position:-562px 0;
	width:67px;
	padding:0;
}
#cMenu ul li.history a:hover {
	background-position:-562px -34px;
}
#cMenu ul li.store a {
	background-position:-630px 0;
	width:170px;
	padding:0;
}
#cMenu ul li.store a:hover {
	background-position:-630px -34px;
}
#cMain {
	width:800px;
}
#cMain #cHeaderPic {
	background:url(../img/default.jpg) no-repeat;
	height:229px;
	font-size:1px;
}
#cMain #cHeaderPic.winter {
	background:url(../img/snow_home.jpg) no-repeat;
}
#cMain #mContainer {
	margin:-59px auto 0 auto;
	width:765px;
}
#cMain #mContainer #mLeft {
	float:left;
	width:150px;
	margin-top:5px;
}
#cMain #mContainer #mCenter {
	float:left;
	width:440px;
}
#cMain #mContainer #mRight {
	float:right;
	width:175px;
	margin-top:5px;
}
#cFooter {
	width:800px;
	padding:5px 0;
	font-size:10px;
	color:#666;
}
#cFooter .line-one {
	width:440px;
	margin:0 auto 3px;
	padding:0 175px 0 150px;
}
#cFooter .line-one .top {
	float:right;
}
#cFooter .line-one a {
	color:#666;
}
#cFooter .line-two {
	font-size:11px;
	overflow:hidden;
	zoom:1;
	margin-top:20px;
}
#cFooter .line-two .col {
	float:left;
	width:145px;
	margin-right:10px;
}
#cFooter .line-two h3 {
	color:#acbfac;
	font-size:11px;
	padding:4px 0 4px 16px;
	background:url(../img/footer.arrow.gif) no-repeat 0 6px;
}
#cFooter .line-two .lastcol {
	margin-right:0;
}
#cFooter .line-two .notitle {
	margin-top:22px;
}
#cFooter .line-two li {
	border-bottom:1px solid #162807;
}
#cFooter .line-two a {
	color:#666;
	padding:0 5px;
	font-size:11px;
	text-decoration:none;
	display:block;
	border-bottom:1px solid #000;
	line-height:16px;
}
#cFooter .line-two a:hover {
	color:#ACBFAC;
}
#cFooter .description {
	clear:both;
	font-size:10px;
	line-height:12px;
	text-align:justify;
	margin:15px 0 20px;
}
#cFooter .line-three {
	text-align:center;
	background:url(../img/logo-centralpark-small.jpg) no-repeat center top;
	padding:55px 0 0;
}
ul.rssReaders {
	overflow:hidden;
	margin-top:10px;
}
ul.rssReaders li {
	float:left;
	padding:1px 2px 1px 1px;
	height:22px;
	margin:0 !important;
}
ul.rssReaders li a {
	background:none !important;
}
.inner280 {
	margin:10px 0;
	overflow:hidden;
}
#mContainer #mCenter .top {
	font-size:11px;
	background:url(../img/center-top.gif) no-repeat;
	height:66px;
}
#mContainer #mCenter .top h1 {
	font-size:11px;
	padding:4px 0 4px 30px;
	line-height:15px;
	color:#333;
}
#mContainer #mCenter .top p {
	padding:12px 0;
}
#mContainer #mCenter .top label {
	margin-left:18px;
}
#mContainer #mCenter .top select {
	width:125px;
	font-size:9px;
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
}
#mContainer #mCenter .top select option {
	padding-left:2px;
}
#mContainer #mCenter .bottom {
	background:url(../img/center-bottom.gif) no-repeat;
	height:6px;
	font-size:0;
}
#mContainer #mCenter .main {
	overflow:hidden;
	background:url(../img/center-bg.gif) repeat-y;
	height:100%;
}
#mContainer #mCenter .main .left {
	float:left;
	width:217px;
	border-right:1px solid #BCBAAE;
	background:#F6F4E9 url(../img/center-left-bg.gif) repeat-x;
	min-height:100px;
}
#mContainer #mCenter .main .right {
	float:left;
	width:222px;
	background:#F4F5F6 url(../img/center-right-bg.gif) repeat-x;
	min-height:100px;
}
#mContainer #mCenter .main .left h2 {
	font-size:11px;
	margin:7px 0 2px 19px;
}
#mContainer #mCenter .main .left a {
	color:#333;
}
#mContainer #mCenter .main .left p {
	width:175px;
	margin:2px auto 15px auto;
	color:#555;
}
#mContainer #mCenter .main .left .event-con {
	overflow:hidden;
}
#mContainer #mCenter .main .left .event-con .more {
	text-decoration:none;
	color:#357595;
	font-style:italic;
}
#mContainer #mCenter .main .left .event-con .more:hover {
	text-decoration:underline;
}
#mContainer #mCenter .main .left .event-con h2 {
	font-weight:bold;
	color:#292C3B;
	text-transform:capitalize;
	padding-left:21px;
	width:177px;
	margin:7px 0 2px;
}
#mContainer #mCenter .main .left .event-con h2.title {
	font-size:12px;
	padding:5px 0 5px 21px;
}
#mContainer #mCenter .main .left .event-con .pic {
	width:177px;
	margin:auto;
	overflow:hidden;
}
#mContainer #mCenter .main .left .event-con .pic img {
	border:1px solid #fff;
}
#mContainer #mCenter .main .left .event-con li.addevent a {
	background:url(../img/submit-event.gif) no-repeat;
	text-indent:-10000px;
	display:block;
	width:108px;
	height:16px;
	overflow:hidden;
	margin:0 auto;
}
#mContainer #mCenter .main .left .other-events {
	margin:10px 0 6px 0;
	background:#C5C0A2 url(../img/events-other-bg.gif) repeat-x;
	padding:7px 0 4px 0;
}
#mContainer #mCenter .main .left .other-events h2 {
	color:#333;
	font-size:12px;
	line-height:20px;
	background:#C5C0A2 url(../img/events-other-arrow.gif) no-repeat right 4px;
	margin:0 0 0 20px;
	padding-right:10px;
	display:inline;
	text-transform:capitalize;
}
#mContainer #mCenter .main .left .other-events-content li {
	background:url(../img/other-events-spacer.gif) repeat-x left bottom;
	padding:3px 7px 4px 10px;
	margin-bottom:6px;
}
#mContainer #mCenter .main .left .other-events-content h3 {
	margin:0 2px;
	font-size:11px;
	color:#555;
}
#mContainer #mCenter .main .left .other-events-content p {
	color:#88846D;
	font-size:10px;
	margin:3px 2px;
	line-height:11px;
}
#mContainer #mCenter .main .right .photo-con {
	width:184px;
	padding:12px 19px 0;
}
#mContainer #mCenter .main .right .photo-con h2.title {
	font-size:12px;
	font-weight:bold;
	color:#292C3B;
	text-transform:capitalize;
	text-align:center;
	height:36px;
	overflow:hidden;
}
#mContainer #mCenter .main .right .photo-con h2.alt {
	text-align:left;
}
#mContainer #mCenter .main .right .photo-con h2 .jeh {
	position:relative;
	left:29px;
	top:-24px;
}
#mContainer #mCenter .main .right .photo-con .pic {
	overflow:hidden;
}
#mContainer #mCenter .main .right .photo-con .pic .frame {
	background:url(../img/frame.large.gif) no-repeat;
	height:7px;
	font-size:0;
	line-height:0;
	overflow:hidden;
	width:184px;
}
#mContainer #mCenter .main .right .photo-con .pic .bottom {
	background-position:0 -7px;
}
#mContainer #mCenter .main .right .photo-con .pic .photo {
	background:url(../img/frame.large.bg.gif) repeat-y;
	width:168px;
	padding:0 8px;
	font-size:0;
	line-height:0;
	overflow:hidden;
}
#mContainer #mCenter .main .right .photo-con .details {
	margin:2px 0 6px;
	background:url(../img/separator.gif) repeat-x left bottom;
	padding:5px 8px 5px 8px;
	overflow:hidden;
	zoom:1;
}
#mContainer #mCenter .main .right .photo-con .details p {
	margin-bottom:10px;
}
#mContainer #mCenter .main .right .photo-con .details h2 {
	margin:0;
}
#mContainer #mCenter .main .right .photo-con .rating {
	margin:2px 0 10px;
	padding:0 8px;
	font:11px/14px Arial, Helvetica, sans-serif;
	color:#DFDBC5;
}
#mContainer #mCenter .main .right .photo-con .rating .text {
	color:#333;
	padding:0 1px;
	font-weight:bold;
	font-size:11px;
}
#mContainer #mCenter .main .right .photo-con .rating .score {
	font:bold 11px/14px Arial, Helvetica, sans-serif;
	color:#357595;
	padding:0 1px;
}
#mContainer #mCenter .main .right .photo-con .rating .smilies {
	margin-top:2px;
}
#mContainer #mCenter .main .right .photo-con .rating .smilies img {
	padding-right:4px;
}
#mContainer #mCenter .main .right .photo-con ul {
	margin-top:5px;
	padding-right:1px;
	overflow:hidden;
}
#mContainer #mCenter .main .right .photo-con ul li {
	float:right;
	padding:0 1px;
}
#mContainer #mCenter .main .right .photo-con ul.green {
	margin:8px auto 15px;
	overflow:hidden;
	zoom:1;
	width:175px;
}
#mContainer #mCenter .main .right .photo-con ul.green li {
	float:left;
	padding:0 0 0 12px;
	background:url(../img/button.door.left.gif) no-repeat left top;
	margin-right:10px;
}
#mContainer #mCenter .main .right .photo-con ul.green li a {
	background:url(../img/button.door.right.gif) no-repeat right top;
	font:bold 10px/15px Arial, Helvetica, sans;
	color:#fff;
	padding:4px 12px 6px 1px;
	text-decoration:none;
	display:block;
}
#mContainer #mCenter .main .right .photo-con ul.green li.last {
	margin-right:0;
}
#mContainer #mCenter .main .right h2 {
	font-size:11px;
	margin:7px 0 2px 19px;
}
#mContainer #mCenter .main .right a {
	color:#333;
}
#mContainer #mCenter .main .right .buttons {
	text-align:center;
	margin-top:6px;
}
#mContainer #mCenter .main .right .other-photos {
	margin:10px 0 6px 0;
	background:#7B8DA7 url(../img/photos-other-bg.gif) repeat-x;
	padding:7px 0 4px 0;
}
#mContainer #mCenter .main .right .other-photos h2 {
	color:#fff;
	font-size:12px;
	line-height:20px;
	background:#7B8DA7 url(../img/photos-other-arrow.gif) no-repeat right 4px;
	margin:0 0 0 20px;
	padding-right:10px;
	display:inline;
	text-transform:capitalize;
}
#mContainer #mCenter .main .right .other-photos-content {
	padding-left:1px;
}
#mContainer #mCenter .main .right .other-photos-content li {
	padding:7px 0 8px 9px;
	background:url(../img/photos-other-spacer.gif) repeat-x left bottom;
	margin-bottom:6px;
	overflow:hidden;
	zoom:1;
}
#mContainer #mCenter .main .right .other-photos-content li a {
	color:#163350;
	font-weight:normal;
}
#mContainer #mCenter .main .right .other-photos-content li .left-column {
	float:left;
	width:106px;
}
#mContainer #mCenter .main .right .other-photos-content li .left-column .frame {
	background:url(../img/frame.small.gif) no-repeat;
	font-size:0;
	line-height:0;
	height:7px;
	width:104px;
	overflow:hidden;
}
#mContainer #mCenter .main .right .other-photos-content li .left-column .bottom {
	background-position:0 -7px;
}
#mContainer #mCenter .main .right .other-photos-content li .left-column .middle {
	background:url(../img/frame.small.bg.gif) repeat-y;
	padding:0 7px;
	width:90px;
	overflow:hidden;
	font-size:0;
	line-height:0;
}
#mContainer #mCenter .main .right .other-photos-content li .right-column {
	color:#DFDBC5;
	font-size:10px;
	float:left;
	text-align:center;
	width:104px;
	padding-top:10px;
	line-height:16px;
}
#mContainer #mCenter .main .right .other-photos-content li .right-column .score {
	font:bold 11px/16px Arial, Helvetica, sans-serif;
	color:#357595;
	padding:0;
}
#mContainer #mCenter .main .right .other-photos-content li .right-column .text {
	text-transform:uppercase;
	color:#55524D;
	font-size:9px;
}
#mContainer #mCenter .main .right .other-photos-content li .right-column .rater {
	padding-top:3px;
}
#mContainer #mCenter .main .right .other-photos-content li h3 {
	font-size:11px;
	padding:5px 0 0 5px;
	color:#333;
	text-transform:capitalize;
}
.panel.blue-left {
	overflow:hidden;
	margin-top:3px;
}
.panel.blue-left .top {
	height:5px;
	line-height:5px;
	overflow:hidden;
	font-size:0;
	width:150px;
}
.panel.blue-left .top .left {
	float:left;
	width:5px;
	height:5px;
	font-size:0;
	background:url(../img/blue.left.top.gif) no-repeat left top;
}
.panel.blue-left .top .middle {
	float:left;
	width:141px;
	height:4px;
	background:#3B7596;
	border-top:1px solid #558DAD;
}
.panel.blue-left .top .right {
	float:right;
	width:4px;
	height:4px;
	background:#295269;
	font-size:0;
	border-top:1px solid #3B6279;
}
.panel.blue-left .bottom {
	width:150px;
	height:5px;
	overflow:hidden;
}
.panel.blue-left .bottom .left {
	float:left;
	width:4px;
	height:5px;
	font-size:0;
	background:url(../img/blue.left.bottom.gif) no-repeat left bottom;
}
.panel.blue-left .bottom .right {
	float:right;
	width:142px;
	height:5px;
	font-size:0;
	background:#74A6C2;
	border-right:4px solid #517487;
}
.panel.blue-left .bottom-closed .left {
	background:url(../img/blue.left.bottom.closed.gif) no-repeat left bottom;
}
.panel.blue-left .bottom-closed .right {
	background:#3B7596;
	border-right-color:#295269;
}
.panel.blue-left .title {
	margin:0;
	padding:0;
	overflow:hidden;
	width:145px;
	height:18px;
	font-size:12px;
	text-transform:capitalize;
	color:#fff;
	background:#3B7596;
	border-right:4px solid #295269;
	border-left:1px solid #558DAD;
}
.panel.blue-left .title a {
	color:#fff;
	text-decoration:none;
}
.panel.blue-left .content {
	width:141px;
	font-size:12px;
	color:#fff;
	padding-left:5px;
	background:#74A6C2;
	border-right:4px solid #517487;
	overflow:hidden;
}
.panel.blue-left .content a {
	color:#fff;
	text-decoration:none;
}
.panel.blue-left .content a:hover {
	color:#3B7596;
	text-decoration:underline;
}
.panel.blue-left .content .field {
	text-align:left;
	padding-bottom:3px;
}
.panel.blue-left .content .field input {
	font-size:10px;
	color:#295269;
	background-color:#E0ECF3;
	border:1px solid #526475;
}
.panel.blue-left .content .remember {
	padding:3px 6px 5px 0;
	font-size:10px;
	text-align:right;
}
.panel.blue-left .content .forgot-pass {
	padding:5px 0 0 5px;
	font-size:10px;
}
.panel.blue-left .content .whos_online {
	font-size:11px;
	font-weight:bold;
	text-align:center;
	color:#fff;
	padding:5px 0 1px 0;
}
.panel.blue-left .content h1 {
	font-size:12px;
	color:#133F62;
	padding:5px 0 7px 5px;
	margin:0;
}
.panel.blue-left .content.account a {
	font-size:11px;
	margin:0 0 0 5px;
	display:block;
	width:120px;
}
.panel.blue-left .content.account a:hover {
	color:#3B7596;
	text-decoration:underline;
}
.panel.blue-left .content ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
.panel.blue-left .content ul li {
	margin:0;
	padding:0;
}
.panel.gray-right-home {
	width:169px;
	background-color:#C7C3B4;
	margin:0;
	padding:5px 0;
	border-left:5px solid #9F9C90;
	border-right:1px solid #D9D5C6;
	font-size:12px;
	color:#333;
	text-decoration:none;
	font-weight:bold;
}
.panel.gray-right-home a {
	color:#333;
	text-decoration:none;
}
.panel.gray-right-home .content {
	padding:5px 2px;
}
.panel.gray-right-home .content .background {
	background:#CDDBA6;
	width:160px;
	overflow:hidden;
}
.panel.gray-right-home .content .kniltrepxe {
	font-weight:normal;
	font-size:10px;
	padding:7px 5px 2px 5px;
}
.panel.gray-right-home .content .kniltrepxe a {
	text-decoration:underline;
	font-size:11px;
	line-height:13px;
	color:#000;
}
.panel.gray-right {
	overflow:hidden;
	margin-top:5px;
}
.panel.gray-right .top {
	height:5px;
	line-height:5px;
	overflow:hidden;
	font-size:0;
	width:175px;
}
.panel.gray-right .top .left {
	float:left;
	width:5px;
	height:4px;
	font-size:0;
	background:#9F9C90;
	border-top:1px solid #AEAA9E;
}
.panel.gray-right .top .middle {
	float:left;
	width:165px;
	height:4px;
	background:#C7C3B4;
	border-top:1px solid #D9D5C6;
}
.panel.gray-right .top .right {
	float:right;
	width:5px;
	height:5px;
	font-size:0;
	background:url(../img/gray.right.top.gif) no-repeat right top;
}
.panel.gray-right .bottom {
	width:175px;
	height:5px;
	overflow:hidden;
}
.panel.gray-right .bottom .left {
	float:left;
	width:165px;
	height:4px;
	font-size:0;
	background:#C7C3B4;
	border-left:5px solid #9F9C90;
	border-bottom:1px solid #D9D5C6;
}
.panel.gray-right .bottom .right {
	float:right;
	width:5px;
	height:5px;
	font-size:0;
	background:url(../img/gray.right.bottom.gif) no-repeat right bottom;
}
.panel.gray-right .bottom-closed .left {
	background:#C7C3B4;
	border-left-color:#9F9C90;
}
.panel.gray-right .bottom-closed .right {
	background:url(../img/gray.right.bottom.gif) no-repeat right bottom;
}
.panel.gray-right .title {
	margin:0;
	padding:0;
	overflow:hidden;
	width:169px;
	height:18px;
	font-size:12px;
	text-transform:capitalize;
	color:#333;
	background:#C7C3B4;
	border-left:5px solid #9F9C90;
	border-right:1px solid #D9D5C6;
}
.panel.gray-right .title a {
	color:#333;
	text-decoration:none;
}
.panel.gray-right .content {
	width:160px;
	font-size:10px;
	color:#423F29;
	text-align:center;
	padding:5px;
	background:#C7C3B4;
	border-left:5px solid #9F9C90;
	overflow:hidden;
}
.panel.gray-right .content a {
	color:#423F29;
	text-decoration:none;
}
.panel.gray-right .content a:hover {
	color:#b5ac77;
}
.panel.dkgreen-left {
	overflow:hidden;
	margin-top:3px;
}
.panel.dkgreen-left .top {
	height:5px;
	line-height:5px;
	overflow:hidden;
	font-size:0;
	width:150px;
}
.panel.dkgreen-left .top .left {
	float:left;
	width:5px;
	height:5px;
	font-size:0;
	background:url(../img/dkgreen.left.top.gif) no-repeat left top;
}
.panel.dkgreen-left .top .middle {
	float:left;
	width:141px;
	height:4px;
	background:#264218;
	border-top:1px solid #3E642C;
}
.panel.dkgreen-left .top .right {
	float:right;
	width:4px;
	height:4px;
	background:#203814;
	font-size:0;
	border-top:1px solid #355525;
}
.panel.dkgreen-left .bottom {
	width:150px;
	height:5px;
	overflow:hidden;
}
.panel.dkgreen-left .bottom .left {
	float:left;
	width:4px;
	height:5px;
	font-size:0;
	background:url(../img/dkgreen.left.bottom.gif) no-repeat left bottom;
}
.panel.dkgreen-left .bottom .right {
	float:right;
	width:142px;
	height:5px;
	font-size:0;
	background:#385827;
	border-right:4px solid #304B21;
}
.panel.dkgreen-left .bottom-closed .left {
	background:url(../img/dkgreen.left.bottom.closed.gif) no-repeat left bottom;
}
.panel.dkgreen-left .bottom-closed .right {
	background:#264218;
	border-right-color:#203814;
}
.panel.dkgreen-left .title {
	margin:0;
	padding:0;
	overflow:hidden;
	width:145px;
	height:18px;
	font-size:12px;
	text-transform:capitalize;
	color:#fff;
	background:#264218;
	border-right:4px solid #203814;
	border-left:1px solid #3E642C;
}
.panel.dkgreen-left .title a {
	color:#fff;
	text-decoration:none;
}
.panel.dkgreen-left .content {
	width:130px;
	font-size:10px;
	color:#A7D58C;
	padding:5px 8px;
	background:#385827;
	border-right:4px solid #304B21;
	overflow:hidden;
	line-height:12px;
}
.panel.dkgreen-left .content a {
	color:#A7D58C;
	text-decoration:none;
}
.panel.dkgreen-left .content a:hover {
	text-decoration:underline;
}
.panel.dkgreen-left .content .award {
	text-align:center;
	margin:7px 0 13px 0;
}
.panel.red-left {
	overflow:hidden;
	margin-top:3px;
}
.panel.red-left .top {
	height:5px;
	line-height:5px;
	overflow:hidden;
	font-size:0;
	width:150px;
}
.panel.red-left .top .left {
	float:left;
	width:5px;
	height:5px;
	font-size:0;
	background:url(../img/red.left.top.gif) no-repeat left top;
}
.panel.red-left .top .middle {
	float:left;
	width:141px;
	height:4px;
	background:#CD4C2A;
	border-top:1px solid #F1A591;
}
.panel.red-left .top .right {
	float:right;
	width:4px;
	height:4px;
	background:#891313;
	font-size:0;
	border-top:1px solid #BB6A6A;
}
.panel.red-left .bottom {
	width:150px;
	height:5px;
	overflow:hidden;
}
.panel.red-left .bottom .left {
	float:left;
	width:4px;
	height:5px;
	font-size:0;
	background:url(../img/red.left.bottom.gif) no-repeat left bottom;
}
.panel.red-left .bottom .right {
	float:right;
	width:142px;
	height:5px;
	font-size:0;
	background:#F1A591;
	border-right:4px solid #BB6A6A;
}
.panel.red-left .bottom-closed .left {
	background:url(../img/red.left.bottom.closed.gif) no-repeat left bottom;
}
.panel.red-left .bottom-closed .right {
	background:#CD4C2A;
	border-right-color:#891313;
}
.panel.red-left .title {
	margin:0;
	padding:0;
	overflow:hidden;
	width:145px;
	height:18px;
	font-size:12px;
	text-transform:capitalize;
	color:#fff;
	background:#CD4C2A;
	border-right:4px solid #891313;
	border-left:1px solid #F1A591;
}
.panel.red-left .title a {
	color:#fff;
	text-decoration:none;
}
.panel.red-left .content {
	width:139px;
	font-size:11px;
	color:#34332f;
	padding:5px 2px 5px 5px;
	background:#F1A591;
	border-right:4px solid #BB6A6A;
	overflow:hidden;
}
.panel.red-left .content a {
	color:#34332f;
	text-decoration:none;
}
.panel.red-left .content a:hover {
	text-decoration:underline;
}
.panel.red-left .content .poster-intro {
	margin-bottom:7px;
	padding-left:7px;
}
.panel.red-left .content .poster {
	text-align:center;
	margin:7px 0;
}
.panel.red-left .content .poster-more {
	margin-top:10px;
	text-align:right;
}
.panel.dkgreen-right {
	overflow:hidden;
	margin-top:3px;
}
.panel.dkgreen-right .top {
	height:5px;
	line-height:5px;
	overflow:hidden;
	font-size:0;
	width:175px;
}
.panel.dkgreen-right .top .left {
	float:left;
	width:5px;
	height:4px;
	background:#3A5E26;
	font-size:0;
	border-top:1px solid #3C6327;
}
.panel.dkgreen-right .top .middle {
	float:left;
	width:165px;
	height:4px;
	background:#4B7C31;
	border-top:1px solid #5F9644;
}
.panel.dkgreen-right .top .right {
	float:right;
	width:5px;
	height:5px;
	font-size:0;
	background:url(../img/dkgreen.right.top.gif) no-repeat right top;
}
.panel.dkgreen-right .title {
	margin:0;
	padding-left:5px;
	overflow:hidden;
	width:164px;
	height:18px;
	font-size:12px;
	text-transform:capitalize;
	color:#fff;
	background:url(../img/dkgreen.right.title.bg.jpg) repeat-x;
	border-left:5px solid #3A5E26;
	border-right:1px solid #5F9644;
}
.panel.dkgreen-right .title a {
	color:#fff;
	text-decoration:none;
}
.panel.dkgreen-right .content {
	width:159px;
	font-size:11px;
	line-height:14px;
	color:#fff;
	padding:5px 5px 20px 5px;
	background:#487731 url(../img/dkgreen.right.content.bg.jpg) repeat-x left bottom;
	border-left:5px solid #3A5E26;
	border-right:1px solid #5F9644;
	overflow:hidden;
}
.panel.dkgreen-right .content a {
	color:#C8DCBE;
	text-decoration:none;
}
.panel.dkgreen-right .content a:hover {
	text-decoration:underline;
}
.panel.dkgreen-right .content .input {
	color:#777;
	margin:5px 0;
	width:153px;
}
.panel.white-right {
	overflow:hidden;
	margin-top:0;
}
.panel.white-right .bottom {
	width:175px;
	height:5px;
	font-size:0;
	overflow:hidden;
}
.panel.white-right .bottom .left {
	float:left;
	width:165px;
	height:5px;
	font-size:0;
	background:#fff;
	border-left:5px solid #ccc;
}
.panel.white-right .bottom .right {
	float:right;
	width:5px;
	height:5px;
	font-size:0;
	background:url(../img/white.right.bottom.gif) no-repeat right bottom;
}
.panel.white-right .bottom-closed .left {
	background:#eee;
	border-left-color:#bebebe;
}
.panel.white-right .bottom-closed .right {
	background:url(../img/white.right.bottom.closed.gif) no-repeat right bottom;
}
.panel.white-right .title {
	margin:0;
	padding:11px 0;
	overflow:hidden;
	width:170px;
	font-size:12px;
	line-height:15px;
	text-transform:capitalize;
	color:#333;
	border-left:5px solid #BEBEBE;
	background:#eee;
}
.panel.white-right .title a {
	color:#333;
	text-decoration:none;
}
.panel.white-right .content {
	width:170px;
	font-size:11px;
	line-height:14px;
	color:#666;
	background:#fff url(../img/horiz.dots.3px.gif) repeat-x left top;
	border-left:5px solid #ccc;
	overflow:hidden;
}
.panel.white-right .content li {
	padding:5px 5px 10px 5px;
	background:#fff url(../img/horiz.dots.3px.gif) repeat-x left bottom;
	margin-bottom:10px;
}
.panel.white-right .content a {
	color:#069;
	text-decoration:underline;
	font-weight:normal;
}
.panel.white-right .content a:hover {
	color:#fff;
	background:#999;
	text-decoration:none;
}
.panel.white-right .content h3 {
	font-size:11px;
	padding-right:5px;
	color:#bbb;
}
.panel.white-right .content .more {
	padding:0 5px 10px 0;
	text-align:right;
}
.panel.white-right .content .more a {
	font-size:12px;
	font-family:"ËÎÌו";
}
.panel.white-right .content .more a:hover {
	background:#fff;
	color:#666;
}
.panel.white-right .popularContent {
	list-style-type:decimal;
	padding:7px 0 5px 25px;
	color:#333;
}
.panel.white-right .popularContent li {
	list-style-type:decimal;
	padding:2px 0 3px;
	background:none;
	margin-bottom:0;
}
.panel.ltgreen-left {
	overflow:hidden;
	margin-top:3px;
}
.panel.ltgreen-left .top {
	height:5px;
	line-height:5px;
	overflow:hidden;
	font-size:0;
	width:150px;
}
.panel.ltgreen-left .top .left {
	float:left;
	width:5px;
	height:5px;
	font-size:0;
	background:url(../img/ltgreen.left.top.gif) no-repeat left top;
}
.panel.ltgreen-left .top .middle {
	float:left;
	width:141px;
	height:4px;
	background:#88975D;
	border-top:1px solid #A6B380;
}
.panel.ltgreen-left .top .right {
	float:right;
	width:4px;
	height:4px;
	background:#5F6941;
	font-size:0;
	border-top:1px solid #747D59;
}
.panel.ltgreen-left .bottom {
	width:150px;
	height:5px;
	overflow:hidden;
}
.panel.ltgreen-left .bottom .left {
	float:left;
	width:4px;
	height:5px;
	font-size:0;
	background:url(../img/ltgreen.left.bottom.gif) no-repeat left bottom;
}
.panel.ltgreen-left .bottom .right {
	float:right;
	width:142px;
	height:5px;
	font-size:0;
	background:#CDDBA6;
	border-right:4px solid #8F9974;
}
.panel.ltgreen-left .bottom-closed .left {
	background:url(../img/ltgreen.left.bottom.closed.gif) no-repeat left bottom;
}
.panel.ltgreen-left .bottom-closed .right {
	background:#88975D;
	border-right-color:#5F6941;
}
.panel.ltgreen-left .title {
	margin:0;
	padding:0;
	overflow:hidden;
	width:145px;
	height:18px;
	font-size:12px;
	text-transform:capitalize;
	color:#fff;
	background:#88975D;
	border-right:4px solid #5F6941;
	border-left:1px solid #A6B380;
}
.panel.ltgreen-left .title a {
	color:#fff;
	text-decoration:none;
}
.panel.ltgreen-left .content {
	width:145px;
	font-size:11px;
	color:#343F14;
	padding-left:1px;
	background:#CDDBA6;
	border-right:4px solid #8F9974;
	overflow:hidden;
}
.panel.ltgreen-left .content a {
	color:#343F14;
	text-decoration:none;
}
.panel.ltgreen-left .content .search {
	display:block;	
	overflow:hidden;
	width:100px;
	height:15px;
	font-size:12px;
	line-height:15px;	
	margin:10px 0px 7px 65px;
}
.panel.ltgreen-left .content .calendar {
	margin:7px 0;
	width:145px;
	overflow:hidden;
	position:relative;
}
.panel.ltgreen-left .content .calendar ul {
	clear:left;
	width:140px;
	margin:0 auto;
}
.panel.ltgreen-left .content .calendar ul li {
	float:left;
	width:18px;
	height:18px;
	overflow:hidden;
	text-align:center;
	font-size:11px;
	line-height:18px;
	background:#EFFDC8;
	color:#666;
	font-weight:bold;
	margin:1px 2px 1px 0;
}
.panel.ltgreen-left .content .calendar ul a {
	display:block;
	background:#fff url(../img/ltgreen.left.round-cell.gif) no-repeat;
	color:#343;
	height:18px;
	width:18px;
	font-weight:normal;
}
.panel.ltgreen-left .content .calendar ul a:hover {
	background-color:#6BAF20;
	text-decoration:none;
	color:#fff;
}
.panel.ltgreen-left .content .calendar .clear {
	clear:left;
	height:5px;
	font-size:0;
	line-height:5px;
}
.panel.ltgreen-left .content .calendar ul li .today {
	background-color:#6BAF20;
	color:#fff;
	font-weight:bold;
}
.panel.ltgreen-left .content .calendar ul li .blurred {
	background-color:#dfedb8;
	color:#999;
}
.panel.ltgreen-left .content .calendar ul li .blurred:hover {
	background-color:#6BAF20;
	color:#fff;
}
.panel.ltgreen-left .content .calendar #calMonth {
	width:145px;
	float:left;
}
.panel.ltgreen-left .content .calendar #calWrapper {
	width:145px;
	position:relative;
	top:0;
	left:0;
}
.panel.ltgreen-left .content .nav {
	font-weight:bold;
	text-align:center;
	line-height:16px;
	margin-top:5px;
}
.panel.ltgreen-left .content .nav .arrow {
	font-size:14px;
	line-height:14px;
	margin:0 5px;
	padding-bottom:2px;
}
.panel.beige-left {
	overflow:hidden;
	margin-top:3px;
}
.panel.beige-left .top {
	height:5px;
	line-height:5px;
	overflow:hidden;
	font-size:0;
	width:150px;
}
.panel.beige-left .top .left {
	float:left;
	width:5px;
	height:5px;
	font-size:0;
	background:url(../img/beige.left.top.gif) no-repeat left top;
}
.panel.beige-left .top .middle {
	float:left;
	width:141px;
	height:4px;
	background:#A1985E;
	border-top:1px solid #E8E2C1;
}
.panel.beige-left .top .right {
	float:right;
	width:4px;
	height:4px;
	background:#706A42;
	font-size:0;
	border-top:1px solid #A29E87;
}
.panel.beige-left .bottom {
	width:146px;
	height:5px;
	font-size:0;
	background:#E8E2C1 url(../img/beige.left.bottom.gif) no-repeat left bottom;
	border-right:4px solid #A29E87;
	overflow:hidden;
}
.panel.beige-left .bottom-closed {
	background:#A1985E url(../img/beige.left.bottom.closed.gif) no-repeat left bottom;
	border-right-color:#706A42;
}
.panel.beige-left .title {
	margin:0;
	padding:0 0 3px 3px;
	overflow:hidden;
	width:142px;
	font-size:11px;
	text-transform:capitalize;
	color:#fff;
	background:#A1985E;
	border-right:4px solid #706A42;
	border-left:1px solid #E8E2C1;
}
.panel.beige-left .title .btnOpenClose {
	margin-left:0;
	padding-left:3px;
}
.panel.beige-left .title a {
	color:#fff;
	text-decoration:none;
	font-size:11px;
}
.panel.beige-left .content {
	width:141px;
	font-size:10px;
	color:#423F29;
	padding-left:5px;
	background:#E8E2C1;
	border-right:4px solid #A29E87;
	overflow:hidden;
}
.panel.beige-left .content a {
	color:#423F29;
	text-decoration:none;
}
.panel.beige-left .content a:hover {
	color:#b5ac77;
}
.panel.beige-left .content ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
.panel.beige-left .content ul li {
	margin:0;
	padding:0;
}
.panel.beige-left .photo-rated {
	text-align:center;
}
.panel.beige-left .photo-rated .score {
	color:#f00;
	font:bold 14px/16px Arial, Helvetica, sans-serif;
}
.panel.beige-left .photo-rated .smilies {
	padding:5px 0 7px;
}
.panel.beige-left .photo-rated .votes {
	font-weight:bold;
}
.panel.beige-left .photo-rated .pic img {
	margin:2px 0;
	border:1px solid #555;
}
.panel.beige-left .photo-rated .castedVote {
	font-weight:bold;
	margin-bottom:8px;
}
.panel.beige-left .photo-rated li {
	margin:2px 0;
}
.panel.beige-left .photo-rated li.submit {
	margin-top:7px;
}
.panel.beige-left .photo-rated li.submit a {
	overflow:hidden;
	display:block;
	width:101px;
	height:16px;
	background:url(../img/submit-photo-beige.gif) no-repeat;
	text-indent:-1000px;
	margin:auto;
}
.panel.beige-left .photo-rated a {
	text-decoration:underline;
	padding:0 2px;
}
.panel.beige-left .photo-rated a:hover {
	color:#ccc;
	background:#000;
	text-decoration:none;
}
.panel.gray-left {
	overflow:hidden;
	margin-top:3px;
}
.panel.gray-left .top {
	height:5px;
	line-height:5px;
	overflow:hidden;
	font-size:0;
	width:150px;
}
.panel.gray-left .top .left {
	float:left;
	width:5px;
	height:5px;
	font-size:0;
	background:url(../img/gray.left.top.gif) no-repeat left top;
}
.panel.gray-left .top .middle {
	float:left;
	width:141px;
	height:4px;
	background:#C7C3B4;
	border-top:1px solid #D9D5C6;
}
.panel.gray-left .top .right {
	float:right;
	width:4px;
	height:4px;
	background:#9F9C90;
	font-size:0;
	border-top:1px solid #AEAA9E;
}
.panel.gray-left .bottom {
	width:146px;
	height:5px;
	font-size:0;
	background:#C7C3B4 url(../img/gray.left.bottom.gif) no-repeat left bottom;
	border-right:4px solid #A29E87;
	overflow:hidden;
}
.panel.gray-left .bottom-closed {
	background:#C7C3B4 url(../img/gray.left.bottom.gif) no-repeat left bottom;
	border-right-color:#9F9C90;
}
.panel.gray-left .title {
	margin:0;
	padding:0;
	overflow:hidden;
	width:145px;
	height:18px;
	font-size:12px;
	text-transform:capitalize;
	color:#333;
	background:#C7C3B4;
	border-right:4px solid #9F9C90;
	border-left:1px solid #D9D5C6;
}
.panel.gray-left .title a {
	color:#333;
	text-decoration:none;
}
.panel.gray-left .content {
	text-align:center;
	width:140px;
	font-size:12px;
	color:#333;
	padding-left:5px;
	background:#C7C3B4;
	border-left:1px solid #D9D5C6;
	border-right:4px solid #9F9C90;
	overflow:hidden;
}
.panel.gray-left .content a {
	color:#333;
	text-decoration:none;
}
.panel.dkblue-left {
	overflow:hidden;
	margin-top:3px;
}
.panel.dkblue-left .top {
	height:5px;
	line-height:5px;
	overflow:hidden;
	font-size:0;
	width:150px;
}
.panel.dkblue-left .top .left {
	float:left;
	width:5px;
	height:5px;
	font-size:0;
	background:url(../img/dkblue.left.top.gif) no-repeat left top;
}
.panel.dkblue-left .top .middle {
	float:left;
	width:141px;
	height:4px;
	background:#08275C;
	border-top:1px solid #02559A;
}
.panel.dkblue-left .top .right {
	float:right;
	width:4px;
	height:4px;
	background:#061B40;
	font-size:0;
	border-top:1px solid #013B6B;
}
.panel.dkblue-left .bottom .left {
	float:left;
	width:4px;
	height:5px;
	font-size:0;
	background:url(../img/dkblue.left.bottom.gif) no-repeat left bottom;
}
.panel.dkblue-left .bottom .right {
	float:right;
	width:142px;
	height:5px;
	font-size:0;
	background:#02559A;
	border-right:4px solid #013B6B;
}
.panel.dkblue-left .bottom-closed .left {
	background:url(../img/dkblue.left.bottom.closed.gif) no-repeat left bottom;
}
.panel.dkblue-left .bottom-closed .right {
	background:#08275C;
	border-right-color:#061B40;
}
.panel.dkblue-left .title {
	margin:0;
	padding:0;
	overflow:hidden;
	width:145px;
	height:18px;
	font-size:12px;
	text-transform:capitalize;
	color:#fff;
	background:#08275C;
	border-right:4px solid #061B40;
	border-left:1px solid #02559A;
}
.panel.dkblue-left .title a {
	color:#fff;
	text-decoration:none;
}
.panel.dkblue-left .content {
	width:138px;
	font-size:11px;
	line-height:15px;
	color:#fff;
	padding:2px 2px 0 5px;
	background:#02559A;
	border-left:1px solid #02559A;
	border-right:4px solid #013B6B;
	overflow:hidden;
}
.panel.dkblue-left .content ul {
	list-style-type:none;
}
.panel.dkblue-left .content a {
	color:#fff;
	text-decoration:none;
}
.panel.dkblue-left .content a:hover {
	color:#DFF0FE;
	text-decoration:underline;
}
.panel-hack-01 {
	overflow:hidden;
	margin-left:-7px;
	padding-left:7px;
	padding-bottom:2px;
}
.panel.dkblue-left .rel-visible {
	overflow:visible;
	position:relative;
}
.panel.dkblue-left .content .dropped-photo {
	position:absolute;
	left:-7px;
	top:-4px;
	width:62px;
	height:70px;
	overflow:hidden;
}
.panel.dkblue-left .content .share {
	padding:3px 5px 8px 45px;
	text-align:right;
}
.panel.dkblue-left .content .brought {
	text-align:right;
	padding-right:3px;
}
.panel.dkblue-right {
	overflow:hidden;
	margin-top:5px;
}
.panel.dkblue-right .top {
	height:5px;
	line-height:5px;
	overflow:hidden;
	font-size:0;
	width:175px;
}
.panel.dkblue-right .top .left {
	float:left;
	width:5px;
	height:4px;
	font-size:0;
	background:#061B40;
	border-top:1px solid #004477;
}
.panel.dkblue-right .top .middle {
	float:left;
	width:165px;
	height:4px;
	background:#08275C;
	border-top:1px solid #0061AA;
}
.panel.dkblue-right .top .right {
	float:right;
	width:5px;
	height:5px;
	font-size:0;
	background:url(../img/dkblue.right.top.gif) no-repeat right top;
}
.panel.dkblue-right .bottom {
	width:175px;
	height:5px;
	overflow:hidden;
}
.panel.dkblue-right .bottom .left {
	float:left;
	width:165px;
	height:4px;
	font-size:0;
	background:#08275C;
	border-left:5px solid #08275C;
	border-bottom:1px solid #08275D;
}
.panel.dkblue-right .bottom .right {
	float:right;
	width:5px;
	height:5px;
	font-size:0;
	background:url(../img/dkblue.right.bottom.gif) no-repeat right bottom;
}
.panel.dkblue-right .bottom-closed .left {
	background:#08275C;
	border-left-color:#061B40;
}
.panel.dkblue-right .bottom-closed .right {
	background:url(../img/dkblue.right.bottom.gif) no-repeat right bottom;
}
.panel.dkblue-right .title {
	margin:0;
	padding:0;
	overflow:hidden;
	width:169px;
	height:18px;
	font-size:12px;
	text-transform:capitalize;
	color:#fff;
	background:#08275C;
	border-left:5px solid #061B40;
	border-right:1px solid #015BA2;
}
.panel.dkblue-right .title a {
	color:#fff;
	text-decoration:none;
}
.panel.dkblue-right .content {
	width:160px;
	font-size:9pt;
	color:#fff;
	padding:5px 5px 0 5px;
	background:#02559A url(../img/dkblue.right.bg.gif) repeat-x;
	border-left:5px solid #08275C;
	overflow:hidden;
	min-height:115px;
}
.panel.dkblue-right .content a {
	color:#DFF0FE;
	text-decoration:none;
}
.panel.dkblue-right .content a:hover {
	text-decoration:underline;
}
.panel.dkblue-right .content .learnmore {
	font-size:9pt;
	line-height:10pt;
	padding:0 10px 6px 38px;
	background:url(../img/runner-icon.gif) no-repeat 10px 0;
}
.panel.dkblue-right .content .separator {
	background:#71A1CC;
	height:1px;
	line-height:1px;
	font-size:0;
	overflow:hidden;
	width:100%;
}
.panel.dkblue-right .content .logo {
	text-align:center;
	font-weight:bold;
	padding-top:7px;
	line-height:15px;
}
.panel.purple-right {
	margin-top:5px;
}
.panel.purple-right .top {
	height:5px;
	line-height:5px;
	overflow:hidden;
	font-size:0;
	width:175px;
}
.panel.purple-right .top .left {
	float:left;
	width:5px;
	height:4px;
	font-size:0;
	background:#B61E78;
	border-top:1px solid #DC449E;
}
.panel.purple-right .top .middle {
	float:left;
	width:165px;
	height:4px;
	background:#BE1F86;
	border-top:1px solid #E748AF;
}
.panel.purple-right .top .right {
	float:right;
	width:5px;
	height:5px;
	font-size:0;
	background:url(../img/purple.right.top.gif) no-repeat right top;
}
.panel.purple-right .bottom-closed {
	height:4px;
	width:175px;
	overflow:hidden;
	background:url(../img/purple.right.bottom.closed.gif) no-repeat;
}
.panel.purple-right .title {
	margin:0;
	padding:0;
	overflow:hidden;
	width:169px;
	height:18px;
	font-size:12px;
	text-transform:capitalize;
	color:#fff;
	background:#BE1F86;
	border-left:5px solid #B71F79;
	border-right:1px solid #E748AF;
}
.panel.purple-right .title a {
	color:#fff;
	text-decoration:none;
}
.panel.purple-right .content {
	width:175px;
	height:125px;
	position:relative;
}
.panel.purple-right .content a {
	position:absolute;
}
.panel.social-right {
	height:72px;
	overflow:hidden;
	background:url(../img/socialpanel.png) no-repeat;
	position:relative;
}
.panel.social-right a {
	position:absolute;
	display:block;
	text-indent:-10000px;
}
.panel.social-right .t {
	left:11px;
	top:36px;
	height:24px;
	width:73px;
}
.panel.social-right .f {
	width:84px;
	height:22px;
	left:87px;
	top:40px;
}
